body {
    background-color: black;
}

.num {
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(201, 201, 82);
    cursor: pointer;
    font-size: 20px;
}

.num1 {
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 30px;
    width: 107px;
    border-radius: 10px;
    background-color: rgb(201, 201, 82);
    cursor: pointer;
    font-weight: 1000;
}

.num:hover {
    opacity: 70%;
}

.num1:hover {
    opacity: 70%;
}

.grid {
    display: flex;
}

.grid1 {
    display: flex;
}

.function {
    margin-left: 160px;
    margin-top: 100px;
    display: flex;
}

.value {
    width: 310px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.add {
    margin-left: 100px;
    margin-top: 20px;
    color: white;
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 31px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(139, 34, 34);
    cursor: pointer;
    font-size: 18px;
}

.add:hover {
    opacity: 70%;
}

.hi {
    display: flex;
}