body {
    background-color: black;
}

.num {
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 20px;
    width: 25px;
    border-radius: 10px;
    background-color: rgb(201, 201, 82);
    cursor: pointer;
    font-size: 20px;
}

.num1 {
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 20px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(201, 201, 82);
    cursor: pointer;
    font-weight: 1000;
}

.num:hover {
    opacity: 70%;
}

.num1:hover {
    opacity: 70%;
}

.grid {
    display: flex;
}

.grid1 {
    display: flex;
}

.function {
    margin-left: 80px;
    margin-top: 100px;
    display: flex;
}

.value {
    width: 170px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.value1 {
    width: 160px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.add {
    margin-left: 70px;
    margin-top: 20px;
    color: white;
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(139, 34, 34);
    cursor: pointer;
    font-size: 18px;
}

.add:hover {
    opacity: 70%;
}

.hi {
    display: flex;
}

.sec {
    border-left: 4px white solid;
    height: 600px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 1%;
}

.container {
    display: flex;
}

.hr {
    border-top: 4px white solid;
    width: 500px;
    margin-top: 100px;
    margin-left: 50px;
}

.a {
    display: flex;
}

img {
    margin-top: 10px;
    margin-left: 100px;
}

.add1 {
    margin-left: 70px;
    margin-top: 20px;
    color: white;
    align-content: center;
    border: 2px black solid;
    text-align: center;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(139, 34, 34);
    cursor: pointer;
    font-size: 18px;
    height: 20px;
}
